<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600" rel="stylesheet">
<link href="//a.storyblok.com/t/40479/assets/css/quickstart.css?v=7" rel="stylesheet">

<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-logo" viewBox="0 0 23 32">
<title>logo</title>
<path d="M12 17.076l-3.493 0.179c-0.813 0.038-1.112 0.38-1.111 0.825s0.374 0.794 1.057 0.794l3.644-0.020c0.802-0.003 1.242-0.407 1.241-0.916-0.001-0.505-0.529-0.899-1.337-0.862z"></path>
<path d="M12.67 10.724c-0.093 0-0.189 0.007-0.285 0.021l-3.979 0.61c-0.786 0.118-1.092 0.477-1.092 0.975 0 0.375 0.497 0.757 1.117 0.719 0.077 0 0.156-0.004 0.234-0.012l3.73-0.225c0.793-0.081 1.439-0.622 1.439-1.205-0-0.511-0.49-0.882-1.165-0.882z"></path>
<path d="M21.266 4.388c-0.183-0.193-0.442-0.3-0.73-0.3-0.064 0-0.13 0.006-0.197 0.016l-17.995 2.845c-0.714 0.113-1.269 0.792-1.239 1.514l0.604 14.288c0.030 0.72 0.65 1.311 1.37 1.32l3.079 0.035v3.807l2.91-3.775 10.497 0.117c0.71 0 1.297-0.578 1.311-1.288l0.657-17.781c0.018-0.313-0.077-0.596-0.267-0.798zM15.845 14.541c2.401 0.174 2.169 2.657 2.169 2.657l-0.037 2.261c-0.136 1.49-1.36 2.084-2.4 2.076l-0.955 0.005-8.98-0.133c-0.8-0.008-1.479-0.672-1.512-1.454l-0.393-9.099c-0.034-0.78 0.58-1.514 1.368-1.636l10.702-1.656c0 0 2.614-0.435 2.561 2.181l-0.213 2.213c-0.050 0.774-0.302 2.236-2.309 2.584z"></path>
</symbol>
<symbol id="icon-congrats" viewBox="0 0 39 32">
<title>congrats</title>
<path d="M32.245 32c-0.076 0-0.154-0.018-0.226-0.056l-12.519-6.535-11.372 6.526c-0.235 0.135-0.534 0.053-0.668-0.181s-0.053-0.534 0.181-0.668l11.598-6.655c0.017-0.010 0.034-0.019 0.051-0.027l10.774-5.473c0.657-0.861 0.818-1.385 0.836-1.675 0.020-0.258-0.023-0.624-0.553-1.021l-1.582 0.781c-0.244 0.119-0.536 0.020-0.656-0.223s-0.020-0.536 0.222-0.656l1.663-0.82c0.677-1.863 0.092-2.55-0.521-2.877l-2.462 1.107c-0.247 0.11-0.537 0.001-0.647-0.246s-0.001-0.537 0.246-0.647l2.466-1.109c0.44-1.534-0.056-2.114-0.563-2.396l-4.067 1.379c-0.256 0.086-0.534-0.050-0.621-0.307s0.051-0.534 0.307-0.621l4.227-1.433c0.294-0.15 0.531-0.327 0.707-0.527 0.235-0.495 0.286-0.907 0.16-1.26-0.148-0.414-0.562-0.782-1.231-1.091-0.242-0.053-0.727-0.051-1.681 0.225-0.006 0.001-0.012 0.003-0.019 0.005-0.004 0.001-0.009 0.002-0.013 0.003l-5.103 1.196c-0.023 0.006-0.048 0.010-0.072 0.013l-1.56 0.265c-0.271 0.046-0.52-0.135-0.565-0.401s0.135-0.52 0.401-0.565l1.22-0.206 0.065-0.719c-0.304-0.008-0.735-0.021-1.291-0.037-0.749-0.017-1.336-0.068-1.792-0.155-0.039-0.007-0.077-0.020-0.113-0.036-1.223-0.566-2.004-1.402-2.321-2.486-0.038-0.131-0.020-0.272 0.050-0.389s0.186-0.2 0.319-0.228c0.729-0.154 1.397-0.292 2.001-0.415l-2.86-0.341-1.749 3.618 3.77 1.495c0.085 0.033 0.158 0.090 0.213 0.163 0.617 0.83 0.807 1.66 0.566 2.465-0.18 0.604-0.619 1.156-1.308 1.644 0.939 1.594 0.433 2.736-0.306 3.478 0.295 0.77 0.219 1.547-0.226 2.266-0.318 0.51-0.801 0.957-1.439 1.335 0.095 0.624-0.087 1.446-1.105 2.328-0.066 0.057-0.146 0.096-0.232 0.111-1.861 0.343-3.684 0.236-5.423-0.316l-6.692 3.763c-0.236 0.133-0.535 0.049-0.667-0.187s-0.049-0.534 0.187-0.667l6.234-3.505c-0.933-1.806-0.417-2.887 0.263-3.501l-0.358-0.239c-0.106-0.071-0.181-0.18-0.207-0.305-0.352-1.648-0.112-2.878 0.712-3.668-0.596-0.933-0.823-2.249 0.616-3.797-0.245-0.983-0.182-1.828 0.189-2.516 0.387-0.755 1.078-1.268 2.049-1.516 0.099-0.025 0.204-0.019 0.3 0.019l1.956 0.781 1.929-3.99c0.091-0.188 0.289-0.297 0.499-0.273l6.295 0.75c2.921-0.506 3.602-0.64 3.735-0.674 0.104-0.039 0.219-0.042 0.327-0.005 0.144 0.048 0.258 0.162 0.307 0.306l1.395 4.073c0.769-0.186 1.358-0.219 1.795-0.102 0.025 0.007 0.051 0.016 0.074 0.027 0.943 0.427 1.545 0.99 1.789 1.672 0.222 0.62 0.145 1.319-0.23 2.077-0.017 0.034-0.037 0.066-0.061 0.095-0.117 0.143-0.253 0.276-0.404 0.4 0.609 0.542 1.013 1.464 0.61 3.029 0.916 0.55 1.648 1.647 0.912 3.834 0.805 0.625 0.942 1.332 0.903 1.841-0.032 0.522-0.279 1.12-0.753 1.814l7.338 3.635c0.242 0.12 0.341 0.414 0.221 0.656s-0.412 0.342-0.657 0.221l-7.639-3.784-9.828 4.991 11.913 6.219c0.239 0.125 0.333 0.421 0.208 0.661-0.088 0.167-0.259 0.263-0.435 0.263zM7.535 18.611c1.599 0.542 3.28 0.667 4.999 0.371 0.614-0.565 0.713-1.002 0.691-1.283-1.148-0.096-2.171-0.293-3.047-0.585-0.47-0.162-1.299-0.511-2.535-1.066-0.588 0.376-1.046 1.021-0.307 2.476 0.032 0.018 0.093 0.047 0.199 0.087zM7.853 15.068c1.297 0.585 2.185 0.961 2.64 1.117 0.848 0.283 1.863 0.469 3.016 0.552 0.591-0.319 1.021-0.692 1.28-1.108 0.294-0.474 0.336-0.937 0.128-1.44-2.517-0.522-4.964-1.276-7.281-2.244-0.591 0.52-0.766 1.381-0.535 2.62l0.752 0.502zM7.87 10.982c2.301 0.973 4.737 1.729 7.244 2.25 0.539-0.51 0.927-1.263 0.049-2.563l-6.972-2.463c-1.169 1.286-0.784 2.186-0.321 2.776zM8.46 7.262l6.957 2.457c0.605-0.389 0.977-0.806 1.106-1.24 0.141-0.469 0.031-0.958-0.334-1.491l-4.126-1.636c-0.001 0-0.001-0-0.001-0-0.002-0-0.005-0.001-0.007-0.002l-1.002-0.416-1.21-0.475c-0.615 0.186-1.033 0.508-1.276 0.981-0.255 0.473-0.289 1.084-0.105 1.824zM17.829 3.961c0.391 0.070 0.92 0.113 1.574 0.127 1.105 0.032 1.704 0.049 1.801 0.049 0.138 0 0.269 0.058 0.361 0.16s0.139 0.237 0.126 0.375l-0.086 0.941 3.93-0.922-1.226-3.58c-0.509 0.101-1.498 0.277-3.486 0.621h-0c-0 0-0.001 0-0.001 0s0.003 0.002-0.001 0-0.002 0-0.003 0c-0.92 0.148-2.439 0.444-4.523 0.879 0.298 0.557 0.805 1.002 1.536 1.35z"></path>
</symbol>
<symbol id="icon-play3" viewBox="0 0 32 32">
<title>play3</title>
<path d="M6 4l20 12-20 12z"></path>
</symbol>
</defs>
</svg>

<div class="quickstart">
  <div class="quickstart__bg">
    <div class="quickstart__container">
      {% assign time = 'now' | date: "%k" | plus: 0 %}
      {% if time >= 12 %}
      <h1>Good Afternoon!</h1>
      {% else %}
      <h1>Good Morning!</h1>
      {% endif %}

      <div class="step step--active">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2 class="step__toggle-btn">1. Create a space and a story</h2>
          <p class="step__toogle">
            A space is a place where you keep all the content related to a single project. A story is a <strong>content entry</strong> which contains one or a collection of components.
          </p>
        </div>
        <div class="step__last">
          <img class="step__toogle" src="//a.storyblok.com/f/40479/7a07f54a99/space.svg">
        </div>
      </div>

      <div class="step {% if story.content.body != blank %} step--active {% endif %} {% if proxy_mode %}step--active{% endif %}">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2 class="step__toggle-btn">2. Your first API Request</h2>
          <div class="step__toogle">
          <p>
            Storyblok is an API based CMS for Components - so it's all about your data - execute a simple GET Request to see the basic structure of the story you're actually editing here.
          </p>
          <div class="quickstart__search">
            <span class="quickstart__prefix">GET</span>
            <label>{{ 'search_placeholder'|t }}</label>
            <input value="https://api.storyblok.com/v1/cdn/stories/{{story.full_slug}}?token={{private_token}}&version=draft" class="quickstart__search-input" type="text">
            <button class="quickstart__search-btn" data-first-api data-track="interaction: first-api">Send</button>
          </div>

          <div id="first-api" {% if story.content.body == blank %} class="quickstart--hidden"{% endif %}>
            <h3>Response</h3>
            <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
              <pre><code data-pretty data-skip-body="true">{{story|json}}</code></pre>
            </div>
            <p class="quickstart__muted">You can do this API Request with every language you can think of - we made some <a href="https://www.storyblok.com/docs/Delivery-Api/introduction" target="_blank">example calls</a> for you.</p>
          </div>
          </div>
        </div>
      </div>

      <div class="step {% if story.content.body != blank %} step--active {% endif %} {% if proxy_mode %}step--active{% endif %}">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2 class="step__toggle-btn">3. Create a component and define its structure</h2>
          <div class="step__toogle">
            <p>
              Let's create a <strong>teaser component</strong> <i>together</i> - press <strong>start tour</strong>.
            </p>
            <div class="quickstart__topm">
              <button class="quickstart__btn" data-start-tour data-track="interaction: start-tour">
                <svg class="quickstart__icon"><use xlink:href="#icon-play3"></use></svg>
                Start tour
              </button>
            </div>
          </div>
        </div>
        <div class="step__last">
          <img class="step__toogle" src="//a.storyblok.com/f/40479/9de132979f/story.svg">
        </div>
      </div>

      <div class="step {% if proxy_mode %}step--active{% endif %}">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2 class="step__toggle-btn">4. Check what has changed</h2>
          <div class="step__toogle">
            <p>You've just changed content and created your first unique content component! Let's have a look at what has changed after you've done that.</p>

            <div class="quickstart__search">
              <span class="quickstart__prefix">GET</span>
              <label>{{ 'search_placeholder'|t }}</label>
              <input value="https://api.storyblok.com/v1/cdn/stories/{{story.full_slug}}?token={{private_token}}&version=draft" class="quickstart__search-input" type="text">
              <button class="quickstart__search-btn" data-second-api data-track="interaction: second-api">Send</button>
            </div>

            <div class="quickstart--hidden" id="second-api">
              <h3>Response</h3>
              <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
                <pre><code data-pretty data-skip-body="">{{story|json}}</code></pre>
              </div>
              <p class="quickstart__muted">
                Tip: You can add more <a href="https://www.storyblok.com/docs/terminology/field-type" target="_blank">fields with different types</a> to your component and fill it with content.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="step {% if proxy_mode %}step--active{% endif %}">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2 class="step__toggle-btn">5. Time to marry the data with a view</h2>
          <div class="step__toogle">
            <p>
              Choose to get the content via the API or using the hosted rendering service.
            </p>
            <div class="quickstart__topm step__5">
              <label class="quickstart__api" data-api-sdk-boilerplates data-track="decision: API only">
                <img src="//a.storyblok.com/f/39898/abbd7c4028/api_self.svg" />
                <span><input type="radio" name="type" value="api"> API/SDKs only</span>
              </label><label class="quickstart__api" data-rendering-service data-track="decision: rendering service">
                <img src="//a.storyblok.com/f/39898/b63e394b93/api.svg" />
                <span><input{% if proxy_mode %} checked="checked"{% endif %} type="radio" name="type" value="rendering"> Rendering Service</span>
              </label>
            </div>
            <div class="quickstart__topm">
              <button class="quickstart__button--link" data-show="#not-sure" data-track="decision: not-sure">I'm not sure. What is the rendering service?</button>
              <div id="not-sure" class="quickstart--hidden">
                <table class="quickstart__table">
                  <tr>
                    <th></th>
                    <th>API / SDK</th>
                    <th>Rendering Service</th>
                  </tr>
                  <tr>
                    <td>Templating Engine</td>
                    <td>Any</td>
                    <td>Liquid</td>
                  </tr>
                  <tr>
                    <td>Custom Backend Logic</td>
                    <td>Yes</td>
                    <td>Predefined Liquid Filters</td>
                  </tr>
                  <tr>
                    <td>Local Environment</td>
                    <td>Yes</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Dev Environment</td>
                    <td>Own</td>
                    <td>Included</td>
                  </tr>
                  <tr>
                    <td>Live Environment</td>
                    <td>Own</td>
                    <td>Included</td>
                  </tr>
                  <tr>
                    <td>Hosting</td>
                    <td>No</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Custom Domain</td>
                    <td>Yes</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Storyblok Subdomain</td>
                    <td>No</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Included CDN</td>
                    <td>API / Images / Assets</td>
                    <td>Everything</td>
                  </tr>
                  <tr>
                    <td>Pricing</td>
                    <td>Free</td>
                    <td>Free</td>
                  </tr>
                </table>
                <p>You are still not sure? <button data-trigger-livechat class="quickstart__button--link">Contact us</button> - let's get through this together!</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="api-sdk-boilerplates" style="display: none;">
        <div class="step">
        <div class="step__number step__toggle-btn"><span></span></div>
        <div class="step__text">
          <h2>Integrate Storyblok to your project</h2>

          <h3 class="quickstart__h3">1. Get the data</h3>
          <p>Install one of the Storyblok clients or call the API directly (<a target="_blank" href="https://www.storyblok.com/docs/Delivery-Api/overview">API Documentation</a>)</p>

          <div class="quickstart__langc">

            <a class="quickstart__lang quickstart__lang--active" data-lang="javascript">
              <img src="https://a.storyblok.com/f/40479/9a6bef0cd2/javascript.svg" height="33">
              <span>JavaScript</span>
            </a>
            <a class="quickstart__lang" data-lang="nodejs">
              <img src="https://a.storyblok.com/f/40479/600c85c25b/node.svg" height="33">
              <span>Node.js</span>
            </a>
            <a class="quickstart__lang" data-lang="ruby">
              <img src="https://a.storyblok.com/f/40479/5b972f6821/ruby.svg" height="33">
              <span>Ruby</span>
            </a>
            <a class="quickstart__lang" data-lang="php">
              <img src="https://a.storyblok.com/f/40479/dac5c0bb11/php.svg" height="33">
              <span>PHP</span>
            </a>
            <a class="quickstart__lang" data-lang="python">
              <img src="https://a.storyblok.com/f/40479/71495561c6/python.svg" height="33">
              <span>Python</span>
            </a>
          </div>

          <div class="step--choose-tech">
          <div class="quickstart__t quickstart__t--active" data-tab="javascript">
            <pre><code>&lt;script src="//app.storyblok.com/f/storyblok-latest.js"&gt;&lt;/script&gt;
&lt;script&gt;
  storyblok.init({
    accessToken: '{{private_token}}' <span>// Your private token</span>
  }){%- raw -%}

  <span>&lt;!-- Get the content of the current page --&gt;</span>
  storyblok.get({slug: 'home', version: 'draft'}, function(data) {
    console.log(data.story)
  })

  <span>&lt;!-- Get multiple content entries from a folder called "news" --&gt;</span>
  storyblok.getAll({starts_with: 'story', version: 'draft'}, function(data) {
    console.log(data.stories)
  })
&lt;/script&gt;{% endraw %}

<span># More on <a target="_blank" href="https://www.storyblok.com/tp/add-a-headless-CMS-to-vuejs-in-5-minutes">our Blog</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="nodejs">
            <pre><code>var StoryblokClient = require('storyblok-node-client');

var Storyblok = new StoryblokClient({
  privateToken: '{{private_token}}' <span>// Your private token</span>
});
{%- raw -%}

<span>// Get the content of the current page</span>
Storyblok
  .get('stories/home', {
    version: 'draft'
  })
  .then((response) => {
    console.log(response);
  });

<span>// Get multiple content entries from a folder called "news"</span>
Storyblok
  .get('stories', {
    starts_with: 'news'
    version: 'draft'
  })
  .then((response) => {
    console.log(response);
  });
{% endraw %}
<span># More on <a target="_blank" href="https://github.com/storyblok/storyblok-node-client">Github</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="ruby">
            <pre><code>client = new Storyblok::Client(token: '{{private_token}}') <span># Your private token</span>
{%- raw -%}
<span># Get the content of the current page</span>
p client.story('home')

<span># Get multiple content entries from a folder called "news"</span>
p client.stories({
  :starts_with => 'news'
})

<span># More on <a target="_blank" href="https://github.com/storyblok/storyblok-ruby">Github</a></span>{% endraw %}</code></pre>
          </div>


          <div class="quickstart__t" data-tab="php">
            <pre><code>require 'vendor/autoload.php';

$client = new \Storyblok\Client('{{private_token}}'); <span>// Your private token</span>{%- raw -%}

<span>// Get the content of the current page</span>
$client->getStoryBySlug('home');
$data = $client->getBody();

<span>// Get multiple content entries from a folder called "news"</span>
$client->getStories(
  array(
    'starts_with' => 'news'
  )
);
$data = $client->getStoryContent();{% endraw %}

<span># More on <a target="_blank" href="https://github.com/storyblok/php-client">Github</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="python">
            <pre><code>import http.client

conn = http.client.HTTPSConnection("api.storyblok.com")

<span>// Get the content of the current page</span>
conn.request("GET", "/v1/cdn/stories/home?token={{private_token}}") <span>// Your private token</span>{%- raw -%}

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8")){% endraw %}</code></pre>
          </div>
          </div>

          <h3 class="quickstart__h3">2. Initiate the frontend editor</h3>
          <p class="quickstart__p">After you got the response from the API you need to pass the data to your favourite template language and render the body with the components in it in a loop.</p>

          <div class="quickstart__t quickstart__t--active">
            <pre><code>{% raw %}<span>// Example with Twig:</span>
<span>// If you pass story as variable to your view</span>
<span>// put the following snippet in your main template</span>
{% for blok in story.content.body %}
  {% include 'components/' ~ blok.component ~ '.twig' with { blok: blok } %}
{% endfor %}

<span>// Then add your first component in components/headline.twig</span>
{{ blok._editable }}
&lt;div&gt;
  &lt;h2&gt;{{ blok.headline }}&lt;/h2&gt;
&lt;/div&gt;{% endraw %}

<span>// Be sure to add the storyblok script before the closing body tag </span>
<span>// of your template to initiate the frontend editor</span>
&lt;script src="//app.storyblok.com/f/storyblok-latest.js"&gt;&lt;/script&gt;
&lt;script&gt;
storyblok.init({
  accessToken: '{{private_token}}' <span>// Your private token</span>
})
&lt;/script&gt;</code></pre>
          </div>
          <br>
          <div class="quickstart__text--center">
            <button class="quickstart__btn" data-trigger-livechat data-track="interaction: api-sdk-boilerplates-more-information">You got some questions?</button>
          </div>
          <h3>Nice to read:</h3>
          <ul>
            <li><a target="_blank" href="https://www.storyblok.com/tp/component-thinking-improves-productivity">How thinking in components can increase your productivity</a></li>
            <li><a target="_blank" href="https://www.storyblok.com/tp/coupled-decoupled-and-headless-content-management-systems">Coupled, Decoupled and Headless Content Management Systems</a></li>
            <li><a target="_blank" href="https://www.storyblok.com/tp/node-js-cms">Add a headless CMS to Node.js using Express as server.</a></li>
            <li><a target="_blank" href="https://www.storyblok.com/tp/add-a-headless-cms-to-laravel-in-5-minutes">Add a headless CMS to Laravel in 5 minutes</a></li>
            <li><a target="_blank" href="https://www.storyblok.com/tp/add-a-headless-CMS-to-vuejs-in-5-minutes">Add a headless CMS to VueJs in 5 minutes</a></li>
            <li><a target="_blank" href="https://www.storyblok.com/tp/add-a-headless-cms-to-python-django-in-5-minutes">Add a headless CMS to Python/Django in 5 minutes</a></li>
          </ul>
        </div>
      </div>
      </div>

      <div id="rendering-service" {% if proxy_mode %}class="quickstart--show"{% endif %} style="display: none;">
        <div class="step step--toggle{% if proxy_mode %} step--active{% endif %}">
          <div class="step__number step__toggle-btn"><span></span></div>
          <div class="step__text">
            <h2 class="step__toggle-btn">Fire up your local environment.</h2>
            <div class="step__toogle">
              <p>
                With the Storyblok CLI, you can start projects with one command on your terminal - no manual configuration needed. If you don't have the CLI you can install it like this:
              </p>
              <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
                <pre><code>$ npm install -g storyblok</code></pre>
              </div>
              <p>
                Run the following command wherever you want your local development in your local files to be.
              </p>
              <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
                <pre><code>$ storyblok quickstart --space=<em>{{space.id}}</em></code></pre>
              </div>
              <p>
                The following command will open Storyblok with your local environment embedded in an iframe.
              </p>
              <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
                <pre><code>$ cd ./<em data-slugify>{{space.name}}</em> && npm install && npm run dev</code></pre>
              </div>
              <p class="quickstart__muted">Tip: We will change your environment to Dev - so your local instance will be displayed in this frame. You can switch between environments in the left bottom corner and add new in the space settings.</p>
            </div>
          </div>
        </div>

        <div class="step step--teaser-creation">
          <div class="step__number"><span></span></div>
          <div class="step__text">
            <h2>Last step: Let's create the teaser template</h2>
            <p>
              Open a <strong>NEW tab</strong> in your terminal and use the scaffold command to create the file <code>/views/components/_teaser.liquid</code> in your project folder <em data-slugify>{{space.name}}</em> on your computer.
            </p>
            <div class="quickstart__t quickstart__t--borderless quickstart__t--active">
              <pre><code>$ storyblok scaffold teaser</code></pre>
            </div>
            <p class="quickstart__p">
              This is how it should look like. Notice that we opened a second tab to keep gulp running in the background:
            </p>
            <img style="width: 100%;" src="https://a.storyblok.com/f/39898/5d294f5633/screen-1.gif" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90566930-3', 'auto');
  ga('send', 'pageview');

  // pretty print on load
  window.onload = function () {
    window.currentStory = gup('_storyblok', window.location.href) + '-';
    initBtnToggle();
    initPrettyPrint();
    initSlugify();
    initTrackButton();
    initStartTourButtons();
    initLiveChat();
    initShowButton();

    initFirstAPICall();
    initSecondAPICall();

    initRenderingService();
    initTeaserState();

    initApiSdkBoilerplates();
    initAPIHowtos();

    checkSteps();

  };

  var hasClass = function hasClass(el, className) {
    return el.classList ? el.classList.contains(className) : new RegExp('\\b' + className + '\\b').test(el.className);
  };

  function initBtnToggle() {
    var toggle = document.querySelectorAll('.step__toggle-btn');
    for (var i = 0; i < toggle.length; i++) {
      toggle[i].addEventListener('click', function (event) {
        var step = event.currentTarget.closest('.step');

        if (hasClass(step, 'step--toggle')) {
          step.classList.remove('step--toggle');
        } else {
          step.classList.add('step--toggle');
        }
      });
    }
  }

  function initTrackButton() {
    var trackButtons = document.querySelectorAll('[data-track]');
    for (var index = 0, max = trackButtons.length; index < max; index++) {
      var trackButton = trackButtons[index];
      trackButton.addEventListener('click', function (event) {
        var toTrack = trackButton.getAttribute('data-track');
        ga('send', 'event', 'Button', toTrack, 'quickstart-v2');
      });
    }
  }

  function initShowButton() {
    var showButtons = document.querySelectorAll('[data-show]');
    for (var index = 0, max = showButtons.length; index < max; index++) {
      var showButton = showButtons[index];
      showButton.addEventListener('click', function (event) {
        var toShowId = showButton.getAttribute('data-show');
        showButton.classList.add('quickstart--hidden');
        var element = document.querySelector(toShowId);
        element.classList.remove('quickstart--hidden');
      });
    }
  }

  function initLiveChat() {
    var buttons = document.querySelectorAll('[data-trigger-livechat]');
    for (var index = 0, max = buttons.length; index < max; index++) {
      var button = buttons[index];
      if (button) {
        button.addEventListener('click', function () {
          if (window.storyblok) {
            window.storyblok.openLiveChat();
          }
        });
      }
    }
  }

  function initStartTourButtons() {
    var startTourButtons = document.querySelector('[data-start-tour]');
    if (startTourButtons) {
      startTourButtons.addEventListener('click', function () {
        if (window.storyblok) {
          window.storyblok.startTour();
        }
      });
    }
  }

  function initFirstAPICall() {
    var button = document.querySelector('[data-first-api]');
    if (button) {
      button.addEventListener('click', function () {
        localStorage.setItem(window.currentStory + 'step-first-api', 'true');
        doFirstAPICall();
      });
    }
  }

  function doFirstAPICall() {
    var toShow = document.querySelector('#first-api');
    if (toShow) {
      toShow.classList.remove('quickstart--hidden');
      var button = document.querySelector('[data-first-api]');
      if (button) {
        var step = findAncestor(button, 'step');
        step.classList.add('step--active');
      }
    }
    updateSteps()
  }

  function initSecondAPICall() {
    var button = document.querySelector('[data-second-api]');
    if (button) {
      button.addEventListener('click', function () {
        localStorage.setItem(window.currentStory + 'step-second-api', 'true');
        doSecondAPICall();
      });
    }
  }
  function doSecondAPICall() {
    var toShow = document.querySelector('#second-api');
    if (toShow) {
      toShow.classList.remove('quickstart--hidden');
      var button = document.querySelector('[data-second-api]');
      if (button) {
        var step = findAncestor(button, 'step');
        step.classList.add('step--active');
      }
    }
    updateSteps()
  }

  function initRenderingService() {
    var button = document.querySelector('[data-rendering-service]');
    if (!!button) {
      button.addEventListener('click', function () {
        localStorage.setItem(window.currentStory + 'step-rendering-service', 'true');
        localStorage.setItem(window.currentStory + 'step-api-sdk-boilerplates', 'false');

        window.scrollIntoViewPolyfill();
        setTimeout(function () {
          document.querySelector('.step__5').scrollIntoView({ behavior: 'smooth' });
        }, 0);

        doRenderingService();
      });
    }
  }
  function doRenderingService() {
    var toShow = document.querySelector('#rendering-service');
    if (!!toShow) {
      toShow.classList.add('quickstart--show');
      document.querySelector('#api-sdk-boilerplates').classList.remove('quickstart--show');

      var step = findAncestor(document.querySelector('[data-rendering-service]'), 'step');
      step.classList.add('step--active');
    }
    updateSteps()
  }

  function initApiSdkBoilerplates() {
    var button = document.querySelector('[data-api-sdk-boilerplates]');
    if (!!button) {
      button.addEventListener('click', function () {
        localStorage.setItem(window.currentStory + 'step-rendering-service', 'false');
        localStorage.setItem(window.currentStory + 'step-api-sdk-boilerplates', 'true');

        window.scrollIntoViewPolyfill();
        setTimeout(function () {
          document.querySelector('.step__5').scrollIntoView({ behavior: 'smooth' });
        }, 0);
        doApiSdkBoilerplates();
      });
    }
  }
  function doApiSdkBoilerplates() {
    var toShow = document.querySelector('#api-sdk-boilerplates');
    if (!!toShow) {
      toShow.classList.add('quickstart--show');
      document.querySelector('#rendering-service').classList.remove('quickstart--show');

      var step = findAncestor(document.querySelector('[data-api-sdk-boilerplates]'), 'step');
      step.classList.add('step--active');
    }
    updateSteps()
  }

  function initTeaserState() {
    var teaser = document.querySelector('.quickstart__teaser');
    if (!!teaser) {
      document.querySelector('.step--teaser-creation').classList.add('step--active');
    }
  }

  function checkSteps() {
    if (localStorage.getItem(window.currentStory + 'step-first-api') == 'true') {
      doFirstAPICall();
    }
    if (localStorage.getItem(window.currentStory + 'step-second-api') == 'true') {
      doSecondAPICall();
    }
    if (localStorage.getItem(window.currentStory + 'step-rendering-service') == 'true') {
      doRenderingService();
    }
    if (localStorage.getItem(window.currentStory + 'step-api-sdk-boilerplates') == 'true') {
      doApiSdkBoilerplates();
    }
    if (localStorage.getItem(window.currentStory + 'step-api-sdk-boilerplates-got-it') == 'true') {
      doApiSdkBoilerplateGotIt();
    }
    if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
      document.querySelector('#rendering-service .step').classList.remove('step--toggle')
    }
    updateSteps();
  }

  function initAPIHowtos() {
    var qs = document.querySelectorAll('.quickstart__lang');
    var ct = document.querySelector('.step--choose-tech');

    for (var i = 0; i < qs.length; i++) {
      qs[i].addEventListener('click', function (e) {
        var qtabs = ct.querySelectorAll('.quickstart__t');

        for (var j = 0; j < qtabs.length; j++) {
          qtabs[j].style.display = 'none';
        }

        for (var x = 0; x < qs.length; x++) {
          qs[x].classList = 'quickstart__lang';
        }

        this.classList = 'quickstart__lang quickstart__lang--active';
        document.querySelector('[data-tab=' + e.currentTarget.getAttribute('data-lang') + ']').style.display = 'block';
      });
    }
  }

  function initPrettyPrint() {
    var toPrettyPrint = document.querySelectorAll('[data-pretty]');
    for (var index = 0, max = toPrettyPrint.length; index < max; index++) {
      var element = toPrettyPrint[index];
      var json = JSON.parse(element.innerHTML);
      clearStory(json);

      if (!!element.getAttribute('data-skip-body')) {
        json.content.body = [];
        json = JSON.stringify(json, null, 2);
      } else {
        json = JSON.stringify(json, null, 2);
        json = json.replace('"body": [', '"body": [<em>');
        json = json.replace('],\n    "component": "root"', '</em>],\n    "component": "root"');
      }

      json = json.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
      json = json.replace('&lt;em&gt;', '<em>').replace('&lt;\/em&gt;', '</em>');
      element.innerHTML = json;
    }
  }

  function initSlugify() {
    var toSlugify = document.querySelectorAll('[data-slugify]');
    for (var index = 0, max = toSlugify.length; index < max; index++) {
      var element = toSlugify[index];
      element.innerHTML = element.innerHTML.replace(/\s+/g, '-').toLowerCase();
    }
  }

  function findAncestor(el, cls) {
    while ((el = el.parentElement) && !el.classList.contains(cls)) {}
    return el;
  }

  function clearStory(story) {
    delete story.alternates;
    delete story.tag_list;
    delete story.sort_by_date;
    delete story.is_startpage;
    delete story.group_id;
    delete story.parent_id;
    delete story.content._editable;
    return story;
  }

  function gup(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var teaser = document.querySelector('.quickstart__teaser');

  if (teaser) {
    var quickstart = document.querySelector('.quickstart');
    if (quickstart) {
      quickstart.style.display = 'none';
    }
  }

  function updateSteps() {
    var steps = document.querySelectorAll('.step')
    for (var index = 0, max = steps.length; index < max; index++) {
      var step = steps[index];
      if(!step.classList.contains('step--active') && index > 0 && steps[index - 1].classList.contains('step--active')) {
        step.classList.add('step--toggle')
      }
    }
  }

  // Scroll Into View Polyfill
  var x = function (o, l, t) { "use strict"; function e() { function e(o, l) { this.scrollLeft = o, this.scrollTop = l } function r(o) { return .5 * (1 - Math.cos(Math.PI * o)) } function c(o) { if ("object" != typeof o || null === o || o.behavior === t || "auto" === o.behavior || "instant" === o.behavior) return !0; if ("object" == typeof o && "smooth" === o.behavior) return !1; throw new TypeError("behavior not valid") } function s(t) { var e, r, c; do { e = (t = t.parentNode) === l.body, r = t.clientHeight < t.scrollHeight || t.clientWidth < t.scrollWidth, c = "visible" === o.getComputedStyle(t, null).overflow } while (!e && (!r || c)); return e = r = c = null, t } function i(l) { var t, e, c, s = (h() - l.startTime) / f; t = r(s = s > 1 ? 1 : s), e = l.startX + (l.x - l.startX) * t, c = l.startY + (l.y - l.startY) * t, l.method.call(l.scrollable, e, c), e === l.x && c === l.y || o.requestAnimationFrame(i.bind(o, l)) } function n(t, r, c) { var s, n, a, f, u = h(); t === l.body ? (s = o, n = o.scrollX || o.pageXOffset, a = o.scrollY || o.pageYOffset, f = p.scroll) : (s = t, n = t.scrollLeft, a = t.scrollTop, f = e), i({ scrollable: s, method: f, startTime: u, startX: n, startY: a, x: r, y: c }) } if (!("scrollBehavior" in l.documentElement.style)) { var a = o.HTMLElement || o.Element, f = 468, p = { scroll: o.scroll || o.scrollTo, scrollBy: o.scrollBy, elScroll: a.prototype.scroll || e, scrollIntoView: a.prototype.scrollIntoView }, h = o.performance && o.performance.now ? o.performance.now.bind(o.performance) : Date.now; o.scroll = o.scrollTo = function () { c(arguments[0]) ? p.scroll.call(o, arguments[0].left || arguments[0], arguments[0].top || arguments[1]) : n.call(o, l.body, ~~arguments[0].left, ~~arguments[0].top) }, o.scrollBy = function () { c(arguments[0]) ? p.scrollBy.call(o, arguments[0].left || arguments[0], arguments[0].top || arguments[1]) : n.call(o, l.body, ~~arguments[0].left + (o.scrollX || o.pageXOffset), ~~arguments[0].top + (o.scrollY || o.pageYOffset)) }, a.prototype.scroll = a.prototype.scrollTo = function () { c(arguments[0]) ? p.elScroll.call(this, arguments[0].left || arguments[0], arguments[0].top || arguments[1]) : n.call(this, this, arguments[0].left, arguments[0].top) }, a.prototype.scrollBy = function () { var o = arguments[0]; "object" == typeof o ? this.scroll({ left: o.left + this.scrollLeft, top: o.top + this.scrollTop, behavior: o.behavior }) : this.scroll(this.scrollLeft + o, this.scrollTop + arguments[1]) }, a.prototype.scrollIntoView = function () { if (c(arguments[0])) p.scrollIntoView.call(this, arguments[0] || !0); else { var t = s(this), e = t.getBoundingClientRect(), r = this.getBoundingClientRect(); t !== l.body ? (n.call(this, t, t.scrollLeft + r.left - e.left, t.scrollTop + r.top - e.top), o.scrollBy({ left: e.left, top: e.top, behavior: "smooth" })) : o.scrollBy({ left: r.left, top: r.top, behavior: "smooth" }) } } } } window.scrollIntoViewPolyfill = e }(window, document);
</script>
