<div class="container container--small container--padded">
  <h1>Congratulation, you created a Storyblok project!</h1>

  <p class="u__mb">
    For maximum flexibility, Storyblok can be integrated into your application or website retrieving content from our API. But for those who want a hosted website, we offer a rendering service which this page is using.
  </p>

  <h2 class="u__mb">What are the next steps?</h2>

  <div class="step">
    <div class="step__number"><span>1</span></div>
    <div class="step__text">
      <p>
        <strong>Start our tour clicking "Add component" in the sidebar</strong><br>
        You will learn how to create your first editable compontent.
      </p>
    </div>
  </div>

  <div class="step">
    <div class="step__number"><span>2</span></div>
    <div class="step__text">
      <p>
        <strong>Repeat Step 1 until you have created your personal set of components</strong><br>
        For most Web-Project you will need components like grid, column, headline, hero, ... Define
        bigger components if you want to give less control of the design to the editor and define smaller
        components if the editor has good design knowledge.
      </p>
    </div>
  </div>

  <div class="step">
    <div class="step__number"><span>3</span></div>
    <div class="step__text">
      <p>
        <strong>Optionally customize the project to your needs:</strong><br>
        If you you prefer LESS instead of SCSS or Typescript instead of Babel you can change
        the configuration in gulpfile.babel.js
      </p>
    </div>
  </div>

  <h2 class="u__mt">Theme Documentation</h2>

  <p>
    The templates of the Storyblok rendering service are based on Liquid.
    <a target="_blank" href="https://www.storyblok.com/docs/Rendering-Service/Theme-Documentation">Go to the theme documentation</a>.<br>
    If you don't want to use Liquid you can choose from one of our <a target="_blank" href="https://github.com/search?q=topic%3Aboilerplate+org%3Astoryblok+fork%3Atrue">self-hosted Boilerplates</a> or integrate Storyblok in your existing project.
  </p>

  <h2 class="u__mt">Folder Structure of this Project</h2>

  <p>
    This project is highly optimized for pagespeed and uses best practices to achieve a score of nearly 100 points.
    To acheive this we splitted the SCSS files in two parts.
  </p>

  <ul>
    <li>
      <strong>/source/scss/above</strong><br>
      SCSS files for the above the fold stylings of components
    </li>
    <li>
      <strong>/source/scss/elements</strong><br>
      SCSS files for the above the fold stylings of HTML elements
    </li>
    <li>
      <strong>/source/scss/below</strong><br>
      SCSS files for the below the fold stylings of components
    </li>
    <li>
      <strong>/source/js</strong><br>
      The Javascript files. The entry point for your scripts is scripts.js which is bundled by webpack by default
    </li>
    <li>
      <strong>/views/</strong><br>
      In view you can find the template files and bundled assets. All the files in views are getting uploaded to the Storyblok rendering engine.
    </li>
    <li>
      <strong>/views/components</strong><br>
      Here you can find your html components.
    </li>
  </ul>

  <h2 class="u__mt">Don't want to use liquid?</h2>

  <p>
    Integrate Storyblok in your favorite platform. Get started selecting one of our boilerplates:
  </p>

  <div class="quickstart__platforms">
    <a href="https://github.com/storyblok/vuejs-boilerplate"><img src="{{ '//a.storyblok.com/f/39898/a88960cb19/vuejs.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/docs/Delivery-Api/introduction"><img src="{{ '//a.storyblok.com/f/39898/2ab6d81de3/swift.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/silex-boilerplate"><img src="{{ '//a.storyblok.com/f/39898/6f87b4037c/silex.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/storyblok-ruby"><img src="{{ '//a.storyblok.com/f/39898/11d8a92a36/rubyonrails.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/storyblok-ruby"><img src="{{ '//a.storyblok.com/f/39898/7c8dd42e6e/ruby.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/django-boilerplate"><img src="{{ '//a.storyblok.com/f/39898/57e50f834b/python.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/php-client"><img src="{{ '//a.storyblok.com/f/39898/3f11d2a315/php.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/docs/Delivery-Api/introduction"><img src="{{ '//a.storyblok.com/f/39898/812d98d62a/objective-c.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/nodejs-boilerplate"><img src="{{ '//a.storyblok.com/f/39898/056177777f/nodejs.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/creator-theme"><img src="{{ '//a.storyblok.com/f/39898/9e7c5f5f49/liquid.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/tp/add-a-headless-cms-to-laravel-in-5-minutes"><img src="{{ '//a.storyblok.com/f/39898/0442f6bac9/laravel.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/docs/Delivery-Api/introduction"><img src="{{ '//a.storyblok.com/f/39898/e7d0405fa4/javascript.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/three-minutes-demo"><img src="{{ '//a.storyblok.com/f/39898/e3552622bb/handlebars.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/storyblok/django-boilerplate"><img src="{{ '//a.storyblok.com/f/39898/37c66a888b/django.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/docs/Guides/command-line-interface"><img src="{{ '//a.storyblok.com/f/39898/b310d170d5/console.png' | resize:'50x50' }}"></a>
    <a href="https://www.storyblok.com/docs/Delivery-Api/introduction"><img src="{{ '//a.storyblok.com/f/39898/b23c9cbda3/c.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/thomaspink/ng-storyblok"><img src="{{ '//a.storyblok.com/f/39898/944271e45e/angular.png' | resize:'50x50' }}"></a>
    <a href="https://github.com/mikepenz/Storyblok-Android-SDK"><img src="{{ '//a.storyblok.com/f/39898/d8db0263c7/android.png' | resize:'50x50' }}"></a>
  </div>

</div>
